:root {
  --scrollbar-width: 8px;
  --scrollbar-thumb-background: rgba(
    149,
    149,
    149,
    0.7
  ); /* Changed for better visibility */
  --scrollbar-thumb-background-hover: rgba(
    149,
    149,
    149,
    0.9
  ); /* Changed for better visibility */
  --scrollbar-thumb-border: 2px solid transparent;
  --scrollbar-thumb-border-hover: 1px solid transparent;
}

html {
  overflow-y: auto !important;
}

html.dark {
  --scrollbar-thumb-background: rgba(
    255,
    255,
    255,
    0.7
  ); /* Changed for better visibility */
  --scrollbar-thumb-background-hover: rgba(
    255,
    255,
    255,
    0.9
  ); /* Changed for better visibility */
}

html.light {
  --scrollbar-thumb-background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Changed for better visibility */
  --scrollbar-thumb-background-hover: rgba(
    0,
    0,
    0,
    0.9
  ); /* Changed for better visibility */
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background);
  background-clip: content-box;
  min-height: 28px;
  border: var(--scrollbar-thumb-border);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-background-hover);
  border: var(--scrollbar-thumb-border-hover);
}
